header {
    background-color: $header-color;
    color: $text-h-f-color;
    padding: 10px 0;

    .container {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        ul {
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                color: $text-h-f-color;
            }
        }

        .image {
            height: 30px;

            img {
                height: 100%;
            }
        }
    }
}